/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


    @media0: ~"(min-width: 1440px)";
    @media0_: ~"(max-width: 1439px)";

    @media1: ~"(min-width: 1200px)";
    @media1_: ~"(max-width: 1199px)";

    @media2: ~"(min-width: 960px)";
    @media2_: ~"(max-width: 959px)";

    @media3: ~"(min-width: 720px)";
    @media3_: ~"(max-width: 719px)";

    @media4: ~"(min-width: 480px)";
    @media4_: ~"(max-width: 479px)";

    @white: rgb(255, 255, 255);
    @standard_dark_blue: rgb(28, 58, 101);
    @standard_med_blue: rgb(31, 64, 111);

.icon_container img {
    max-width: 100px;
}

.icon_container img,
.text_container h3 {
    position: absolute;

    &:first-child {
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
    }

    &:nth-child(2) {
        left: 100%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &:nth-child(3) {
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
    }

    &:last-child {
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.banner {
	background: black;
	@media screen and @media2 {
		height: 792px;
		display: flex;
	    align-items: center;
	    justify-content: center;
	}	    
}

.banner_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_info {
    background: @white;    
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and @media2 {
    	max-width: 473px;
	    height: 54%;
    }
}

.circle_container {
    position: relative;
}

.text_container,
.icon_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon_container {
    background-image: url(./images/icon.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}